/*header*/

body{
    background-color : #9c835f;
    width: 1440px;
    height: 800px;

}

.back{
    position: absolute;
    width: 50px;
    margin-top: 30px;

}
    
.logo{
    position: absolute;
    left: 100px;
    margin-top: 20px;

}

h1{
    position: absolute;
    width: 410px;
    height: 62px;
    margin-left: 200px;
    margin-top: 40px;
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
}


/**/


.container {
    display: grid;
    text-align: center;

}


/* Player area */

.player-area{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
}

.player-text{
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.playerRock{
    width: 130px;
    height: 120px;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.playerPaper{
    width: 130px;
    height: 120px;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
}
.playerScissors{
    width: 130px;
    height: 120px;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
}


/* Computer area */

.computer-area{
    position: absolute;
    margin-left: 1100px;
    margin-top: 200px;
}

.computer-text{
    font-family: 'Open-Sans', sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.compRock{
    width: 130px;
    height: 120px;
    margin: 20px;
    border-radius: 30px;
}

.compPaper{
    width: 130px;
    height: 120px;
    margin: 20px;
    border-radius: 30px;
}


.compScissors{
    width: 130px;
    height: 120px;
    margin: 20px;
    border-radius: 30px;
}


/*Result*/

.text-VS{
    position: absolute;
    width: 296px;
    height: 186px;
    left: 600px;
    top: 550px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 144px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
}

.text-win{
    position: absolute;
    font-size: 38px;
    left: 540px;
    top: 550px;
}
.text-lose{
    position: absolute;
    font-size: 38px;
    left: 540px;
    top: 550px;
}
.text-draw{
    position: absolute;
    font-size: 38px;
    left: 540px;
    top: 550px;
}

/**/


.refresh{
    position: absolute;
    width: 77px;
    height: 71px;
    left: 900px;
    top: 843px;
}